@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* 
Image in Welcome.js
  Photo by <a href="https://unsplash.com/@theunsteady5?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Edwin Andrade</a> on <a href="https://unsplash.com/photos/people-raising-their-hands-4V1dC_eoCwg?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue-color: rgb(80, 100, 255);
  --nav-bg-color: white;
  --nav-font-color: black;
  --nav-link-hover-color: blue;
  --filter-hover-bg-color: rgb(233, 233, 233);
  --filter-active-bg-color: rgba(39, 104, 255, 0.239);
  --filter-active-font-color: blue;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
}

a {
  text-decoration: none;
}

/* ===================================
Styles for Nav.js
=================================== */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid rgb(213, 213, 213);
  background-color: var(--nav-bg-color);
}

.nav-links-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 0.8em;
}

.navbar-container a {
  display: block;
  color: var(--nav-font-color);
  text-decoration: none;
  transition: all 0.3s ease;
}


.nav-links-list .nav-link-item {
  position: relative;
  padding: 0.4em 0.6em;
  border-radius: 5px;
}

.nav-links-list p {
  position: relative;
  padding: 0.4em 0.6em;
  border-radius: 5px;
  color: var(--nav-font-color);
  transition: all 0.3s ease;
}

.nav-links-list p:hover {
  cursor: pointer;
  color: var(--nav-link-hover-color);
  background-color: rgba(39, 104, 255, 0.239);
}

.nav-links-list .nav-link-item:hover {
  color: var(--nav-link-hover-color);
  background-color: rgba(39, 104, 255, 0.239);
}

.nav-links-list .user-profile {
  position: relative;
  padding: 0.5rem;
  z-index: 999;
}

.nav-links-list .user-profile:hover {
  position: relative;
  cursor: pointer;
}

.user-profile-dropdown.hidden,
.events-dropdown.hidden {
  display: none;
}

.events-dropdown,
.user-profile-dropdown {
  display: block;
  position: absolute;
  content: '';
  list-style: none;
  padding: 1em;
  background-color: white;
  box-shadow: 0 5px 10px rgba(128, 128, 128, 0.389);
  border-radius: 5px;
  transition: all 0.3s ease;
}

.events-dropdown {
  top: 51px;
  right: 60px;
}

.user-profile-dropdown {
  top: 51px;
  right: 20px;
}

.user-profile-dropdown li a,
.events-dropdown li a {
  padding: 0.5em 1em;
  border-radius: 5px;
}

.user-profile-dropdown li:hover,
.events-dropdown li:hover {
  background-color: var(--filter-hover-bg-color);
  border-radius: 5px;
}

.user-profile-dropdown li a:hover,
.events-dropdown li a:hover {
  background-color: var(--filter-hover-bg-color);
}

.user-profile-dropdown input[type="submit"] {
  border: none;
  font-family: inherit;
  font-size: 1em;
  background-color: transparent;
  padding: 0.5em 1em;
  border-radius: 5px;
}

.user-profile-dropdown input[type="submit"]:hover {
  cursor: pointer;
}

/* ===================================
Styles for Welcome.js
=================================== */
.welcome-img-container {
  background-image: linear-gradient(to top, #000000ba, #fefefe0e), url(./imgs/edwin-andrade-4V1dC_eoCwg-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.welcome-content-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 1em;
}

.welcome-content-container h1 {
  text-align: center;
  font-size: 4em;
  padding-bottom: 10px;
}

.welcome-content-container p {
  text-align: center;
}

.welcome-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding-top: 20px;
}

.welcome-button {
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 0.8em 2em;
  border-radius: 10px;
  border: 2px solid white;
  outline: 2px solid transparent;
  transition: all 0.3s ease;
}

.welcome-button:hover {
  background-color: white;
  color: black;
  border-color: transparent;
  outline-color: white;
  outline-offset: 3px;
}

/* ===================================
Styles for LoginForm.js,
           CreateAdStForm.js,
           CreateSuperForm.js
=================================== */
.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em 1em;
}

.form-container form {
  display: flex;
  flex-direction: column;
  min-width: 280px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 5px 10px rgb(153, 153, 153);
  border-radius: 10px;
  padding: 0 1em 5em 1em;
}

.form-header {
  color: black;
  padding: 1em;
}

.form-heading {
  font-weight: 500;
  font-size: 1.6em;
  padding-bottom: 10px;
}

.form-heading-text {
  font-size: 0.9em;
}

.form-header hr {
  margin: 1em 0 0 0;
  border: none;
  border-top: 2px solid var(--blue-color);
}

.form-body {
  padding: 0 1em;
}

.form-section {
  padding-bottom: 20px;
}

.form-section label {
  display: block;
  padding-bottom: 5px;
}

.form-section input[type="text"], input[type="password"], textarea {
  font-family: inherit;
  width: 100%;
  padding: 1em 0.8em;
  border: none;
  border-radius: 10px;
  background-color: rgb(246, 246, 246);
  outline: 2px solid transparent;
  transition: all 0.3s ease;
}

.form-section input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
  outline: 2px solid var(--blue-color);
  background-color: white;
}

.form-section textarea {
  resize: none;
}

.form-section input[type="submit"] {
  margin-top: 10px;
  padding: 1em;
  width: 100%;
  font-size: 0.9em;
  font-weight: 600;
  color: white;
  background: linear-gradient(to right, rgb(127, 127, 255) ,var(--blue-color));
  border: none;
  outline: 2px solid transparent;
  border-radius: 5px;
  transition: all 0.16s linear;
}

.form-section input[type="submit"]:is(:hover, :focus) {
  cursor: pointer;
  outline: 2px solid var(--blue-color);
  outline-offset: 3px;
}

.no-account {
  padding: 1em;
  text-align: center;
}

.no-account p {
  font-size: 0.9em;
}

.no-account p:hover {
  cursor: default;
}

.no-account a {
  color: blue;
}

.no-account a:hover {
  opacity: 90%;
}

/* ===================================
Styles for CreateSuperForm.js
=================================== */
.create-super-form-container .form-container form{
  max-width: 800px;
}

.super-form-body-container {
  display: flex;
}

.super-form-body-container .form-body {
  flex-grow: 2;
}

.super-descr-container {
  flex-grow: 1;
  padding: 0 1em;
}

.super-descr-container textarea {
  resize: none;
  display: block;
  box-sizing: border-box;
  height: 100%;
}

/* ===================================
Styles for AccountType.js
=================================== */
.account-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em 1em;
}

.account-type-container {
  display: flex;
  flex-direction: column;
  padding: 1em 1em 3em 1em;
  box-shadow: 0 5px 10px rgb(115, 115, 115);
  border-radius: 10px;
  min-width: 280px;
  max-width: 500px;
  width: 100%;
}

.account-type-list {
  list-style: none;
  width: 100%;
  padding: 0 1em 1em 1em;
}


.account-type-list li a {
  display: block;
  padding: 1em;
  margin-top: 1em;
  width: 100%;
  font-size: 0.9em;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  color: white;
  background: linear-gradient(to right, rgb(127, 127, 255) ,var(--blue-color));
  outline: 2px solid transparent;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.account-type-list li a:is(:hover, :focus) {
  outline: 2px solid var(--blue-color);
  outline-offset: 3px;
}

.have-account {
  margin-top: 1em;
  font-size: 0.9em;
  padding-left: 1em;
  text-align: center;
}

.have-account p:hover {
  cursor: default;
}

.have-account a {
  color: blue;
}

.have-account a:hover {
  opacity: 90%;
}

/* ===================================
Styles for Events.js
=================================== */
.events-page-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1em;
  margin: 0 3em;
}

.main-heading {
  font-size: 2em;
  font-weight: 500;
}

#searchbar {
  font-family: inherit;
  padding: 1em;
  border-radius: 10px;
  border: none;
  outline: 2px solid rgba(128, 128, 128, 0.485);
  width: 250px;
}

#searchbar:focus {
  outline: 2px solid var(--blue-color);
}

.events-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3em;
  margin: 1em 3em;
  padding: 0 1em;
}

.events-main-content {
  flex-grow: 2;
}

.day-filter-heading {
  font-size: 2em;
  font-weight: 400;
  margin: 1em 0;
}

.list-of-events {
  list-style-type: none;
}

.event-item a {
  text-decoration: none;
  color: black;
}

.day-filter-buttons-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3em;
}

.btn {
  padding: 1em 2em;
  border-radius: 10px;
  border: none;
  outline: 2px solid transparent;
  background: linear-gradient(to right, rgb(127, 127, 255) ,var(--blue-color));
  color: white;
  font-size: 1em;
  transition: all 0.3s ease;
}

.btn:hover {
  cursor: pointer;
  outline: 2px solid var(--blue-color);
  outline-offset: 3px;
}

/* ===================================
Styles for EventBox.js
=================================== */
.event-box-container {
  border-radius: 10px;
  outline: 4px solid transparent;
  box-shadow: 0 5px 10px rgba(128, 128, 128, 0.416);
  padding: 1em 2em;
  margin-bottom: 2em;
  transition: all 0.3s ease;
}

.event-box-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  margin-bottom: 0.2em;
}

.event-name {
  font-weight: 600;
  color: var(--blue-color);
}

.event-date-time {
  font-weight: 500;
  color: rgb(98, 98, 98);
  margin-bottom: 0.2em;
}

.event-location {
  margin-bottom: 1em;
}

.event-location span{
  font-weight: 600;
}

.event-type {
  align-self: flex-start;
  padding: 0.3em 1em;
  border-radius: 20px;
}

.event-type.public {
  background-color: rgba(0, 128, 0, 0.288);
  color: green;
}
.event-type.rso {
  background-color: rgba(183, 0, 255, 0.288);
  color: rgb(113, 0, 128);
}
.event-type.private {
  background-color: rgba(255, 0, 0, 0.288);
  color: red;
}

.event-box-container:hover {
  cursor: pointer;
  transform: scale(1.015);
  outline: 4px solid rgba(74, 92, 255, 0.243);
}

.event-box-container:hover .event-name {
  text-decoration: underline;
}

/* ===================================
Styles for Filters.js
=================================== */
.filter-container {
  box-shadow: 0 5px 10px rgba(128, 128, 128, 0.472);
  border-radius: 10px;
  padding: 1em;
  width: 250px;
}

.filter-container ul {
  list-style: none;
}

.filter-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.filter-heading-container h3 {
  font-weight: 500;
}

.filter-heading-container p {
  padding: 0.3em 1em;
  border-radius: 10px;
  background-color: white;
  transition: all 0.3s ease;
}

.filter-heading-container p:hover {
  cursor: pointer;
  background-color: var(--filter-hover-bg-color);
  
}

.filter-list > li {
  border-top: 2px solid var(--blue-color);
}

/* filter headings */
.filter-list > li > p {
  padding: 0.5em 0 0 0;
  font-weight: 500;
}

.filter-sublist {
  margin-bottom: 0.5em;
}

.filter-sublist li {
  margin-left: 10px;
  padding: 0.3em 1em;
  margin: 0.3em 0;
  border-radius: 10px;
  background-color: white;
  transition: all 0.3s ease;
  width: fit-content;
}

.filter-sublist li:hover {
  background-color: var(--filter-hover-bg-color);
  cursor: pointer;
}

.filter-sublist li.active {
  background-color: var(--filter-active-bg-color);
  color: var(--filter-active-font-color);
}

/* ===================================
Styles for DayFilters.js
=================================== */
.day-filters-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1em;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(128, 128, 128, 0.474);
  width: fit-content;
  padding: 0.5em 1em;
}

.day-filters-list button {
  position: relative;
  display: block;
  font-family: inherit;
  font-size: 1em;
  text-decoration: none;
  color: black;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: white;
  padding: 0.5em 1em;
  transition: all 0.3s ease;
}


.day-filters-list button:hover {
  cursor: pointer;
  background-color: var(--filter-hover-bg-color);
}

.day-filters-list button.active {
  background-color: var(--filter-active-bg-color);
  color: var(--filter-active-font-color);
}

/* ===================================
Styles for MyAccount.js
=================================== */
.my-account .main-heading {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 4rem;
}

.account-info-form {
  margin-left: 3rem;
}

.account-info-form .form-section {
  width: 50%;
}

/* ===================================
Styles for CreateEvent.js
           CreateRSO.js
=================================== */
.create-event,
.create-rso {
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-event-wrapper,
.create-rso-wrapper {
  position: absolute;
  content: '';
  top: 100px;
  z-index: 999;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgb(167, 167, 167);
  padding: 1em 2em;
  margin: 0 2em 3em 2em;
}

.create-event-wrapper.hidden,
.create-rso-wrapper.hidden {
  display: none;
}

.create-event-header,
.create-rso-header {
  margin-bottom: 1.5rem;
}

.create-event-header p,
.create-rso-header p {
  margin-bottom: 1rem;
}

.create-event-header h2,
.create-rso-header h2 {
  font-weight: 500;
  font-size: 1.7rem;
}

.create-event-header hr,
.create-rso-header hr {
  border: none;
  border-radius: 5px;
  border-top: 4px solid var(--blue-color);
}

.create-event form select,
.create-rso form select {
  padding: 0.5rem;
  font-family: inherit;
  border-radius: 5px;
}

.create-event-main .create-event-in-line-section:nth-child(5) .form-section {
  flex-grow: 1;
}

.create-event-in-line-section,
.create-rso-in-line-section {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1em;
}

.time-section p {
  font-size: 0.8em;
  max-width: 50ch;
}

.google-map {
  width: 100%;
  border: none;
  border-radius: 5px;
}

.cancel-btn,
.create-btn {
  font-size: 1em;
  color: white;
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 5px;
  outline: 2px solid transparent;
  outline-offset: 6px;
  transition: all 0.3s ease;
}

.cancel-btn {
  background: linear-gradient(to right, rgb(255, 116, 116), rgb(255, 59, 59));
}

.create-btn {
  background: linear-gradient(to right, rgb(114, 168, 114), rgb(67, 172, 77));
}

.cancel-btn:hover,
.create-btn:hover {
  cursor: pointer;
  outline-offset: 0;
}

.cancel-btn:hover {
  outline: 2px solid rgba(255, 0, 0, 0.617);
  background-color: rgba(255, 0, 0, 0.413);
}

.create-btn:hover {
  outline: 2px solid rgba(0, 128, 0, 0.64);
  background-color: rgba(0, 128, 0, 0.356);
}

.btn-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5em;
}

/* ===================================
Styles for CreateRSO.js
=================================== */
.create-rso-main .create-rso-in-line-section .form-section {
  flex-grow: 1;
}

.rso-disclaimer {
  font-weight: 500;
}

/* ===================================
Styles for Rso.js
=================================== */
.rso-container {
  margin: 2rem 4rem 1rem 4rem;
}

.rsos-heading-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5em;
  margin-bottom: 2em;
}

.rso-main-heading {
  font-size: 2em;
  font-weight: 500;
}

.rso-heading {
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 1em;
}

.my-rsos-content-container {
  margin-bottom: 2rem;
}

.my-rsos-content-container .main-heading,
.active-rsos-content-container .main-heading {
  margin-bottom: 1rem;
}

.list-of-my-rsos,
.list-of-active-rsos {
  list-style: none;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  column-gap: 3em;
  row-gap: 2em;
}

/* ===================================
Styles for RSOCard.js
=================================== */
.rso-card-container {
  color: black;
  outline: 4px solid transparent;
  background-color: white;
  box-shadow: 0 5px 10px rgba(128, 128, 128, 0.416);
  padding: 1em;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.rso-card-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rso-name {
  font-size: 1.3em;
  font-weight: 500;
  color: var(--blue-color);
}

.rso-type {
  padding: 0.5em 1em;
  background-color: rgba(62, 62, 255, 0.196);
  border-radius: 20px;
}

.rso-members span {
  font-weight: 600;
}

.rso-members {
  margin-bottom: 1em;
}

.rso-card-container:hover {
  transform: scale(1.015);
  outline: 4px solid rgba(74, 92, 255, 0.243);
}

.rso-card-container:hover .rso-name {
  text-decoration: underline;
}

/* ===================================
Styles for RSOInfoPage.js
=================================== */

.rso-info-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3em;
}

.rso-info-left-content {
  flex-basis: 2000px;
  padding-left: 4rem;
  padding-top: 1rem;
}

.rso-info-heading {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-bottom: 1em;
}

.rso-info-name {
  font-size: 2em;
  font-weight: 500;
}

.rso-info-type {
  padding: 0.5em 1em;
  width: fit-content;
  background-color: rgba(66, 66, 255, 0.207);
  border-radius: 20px;
}

.rso-info-description {
  margin-bottom: 1em;
}

.rso-info-right-content {
  flex-basis: 1000px;
  padding-right: 4rem;
  padding-top: 1rem;
}

.rso-info-right-content hr,
.rso-info-left-content hr {
  border-radius: 5px;
  border: none;
  border-top: 2px solid var(--blue-color);
  margin: 1em 0;
}

.rso-info-right-content h3 {
  font-weight: 500;
  margin-bottom: 0.3em;
}

.members-list {
  list-style: none;
}

.join-rso-btn {
  padding: 0.5em 1.5em;
  border-radius: 10px;
  border: none;
  background-color: var(--blue-color);
  font-size: 1em;
  color: white;
  outline: 2px solid transparent;
  outline-offset: 4px;
  box-shadow: none;
  transition: all 0.3s ease;
}

.join-rso-btn:hover {
  cursor: pointer;
  outline: 2px solid rgba(46, 46, 255, 0.329);
  outline-offset: 0;
  background-color: rgb(67, 67, 224);
  box-shadow: 0 10px 10px rgba(73, 73, 255, 0.221);
}


/* ===================================
Styles for EventInfo.js
=================================== */
.event-info-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3em;
}

.event-info-left-content {
  flex-basis: 2000px;
  padding-left: 4rem;
  padding-top: 1rem;
}

.event-info-date-time {
  margin-bottom: 1em;
}

.event-info-type-cat {
  margin-bottom: 1em;
}

.event-info-description {
  margin-bottom: 2em;
}

.event-info-right-content {
  flex-basis: 1000px;
  padding-right: 4rem;
  padding-top: 1rem;
}

.event-info-right-content hr {
  border-radius: 5px;
  border: none;
  border-top: 2px solid var(--blue-color);
  margin: 1em 0;
}

.event-info-right-content h3 {
  font-weight: 500;
  margin-bottom: 0.3em;
}

.event-info-type-cat {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
}

.event-info-category {
  padding: 0.3em 1em;
  border-radius: 20px;
  background-color: var(--filter-hover-bg-color);
}

.stars {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.3em;
  list-style: none;
  background-color: var(--filter-hover-bg-color);
  border-radius: 5px;
  padding: 0.5em 1em;
  width: fit-content;
}

.star-item svg{
  padding: 0.1em;
  pointer-events: none;
}

.star-item:hover {
  cursor: pointer;
}

/* ===================================
Styles for Comment.js
=================================== */
.comments-section h3 {
  margin-bottom: 0.3em;
}

.leave-comment-section label {
  display: block;
  margin-bottom: 0.3em;
}

.leave-comment-section input {
  display: block;
  width: 100%;
  font-family: inherit;
  padding: 1em;
  margin-bottom: 1em;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--filter-hover-bg-color);
  transition: all 0.3s ease;
}

.leave-comment-section input:focus {
  border-bottom: 2px solid var(--blue-color);
}

.comments-list {
  list-style: none;
}

.comment-container {
  background-color: rgba(92, 141, 255, 0.119);
  border-radius: 5px;
  margin-bottom: 1.5em;
  padding: 1em;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
}

.comment-header ul {
  list-style: none;
}

.comment-icons-container {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.comment-icon {
  padding: 0.5em;
  border-radius: 10px;
  background-color: transparent;
}

.comment-icon svg {
  pointer-events: none;
}

.comment-icon:hover {
  cursor: pointer;
  background-color: rgba(76, 112, 255, 0.272);
}

.user-comment {
  display: block;
  width: 100%;
  height: fit-content;
}

.comment-edit,
.comment-delete {
  font-size: 0.9em;
  padding: 0.3em 0.5em;
  border-radius: 10px;
  border: 1px solid black;
  transition: all 0.3s ease;
}

.comment-edit:hover,
.comment-delete:hover {
  cursor: pointer;
  background-color: var(--filter-hover-bg-color);
}

.comment-username {
  font-weight: 500;
}

/* ===================================
Styles for MyEvents.js
=================================== */
.my-events-container {
  margin: 2rem 4rem;
}

.my-events-container .main-heading {
  margin-bottom: 1em;
}

.my-event-heading {
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 1em;
}

.accepted-events-container,
.pending-events-container,
.denied-events-container {
  margin-bottom: 2em;
}

/* ===================================
Styles for MyEventInfo.js
=================================== */
.event-status-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
}

.my-event-info-heading {
  font-size: 1.5em;
  font-weight: 400;
}

.event-status {
  padding: 0.5em 1em;
  border-radius: 20px;
}

.event-status.accepted {
  background-color: rgba(37, 156, 37, 0.323);
  color: green;
}

.event-status.pending {
  background-color: rgba(255, 255, 0, 0.406);
  color: rgb(209, 209, 42);
}

.event-status.denied {
  background-color: rgba(255, 0, 0, 0.393);
  color: red;
}

/* ===================================
Styles for RequestsPage.js
=================================== */
.requests-page-container {
  margin: 2em 4em;
}

.request-heading {
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 0.5em;
}

.event-requests-container {
  margin-bottom: 2em;
}

.no-data {
  font-size: 1em;
  padding: 1em 2em;
  text-align: center;
  font-style: italic;
  background-color: var(--filter-hover-bg-color);
  border-radius: 5px;
}



/* !!!!!!!!!!!!!!!!!!!!!!!!! 
Screen size smaller than 800px
!!!!!!!!!!!!!!!!!!!!!!!!! */
@media (max-width: 800px) {
  /* ===================================
  Styles for Login.js
  =================================== */
  .landing-content-container {
    flex-direction: column;
  }

  .welcome-img-container {
    width: 100%;
  }

  .form-container {
    width: 100%;
  }

  .super-form-body-container {
    flex-direction: column;
  }
}